{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

  <h4>Add Record:</h4>

    <form method="POST" action="{% url 'add_record' %}">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-floating mb-3">
          {% render_field field class="form-control" %}
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field.help_text | safe }} <!-- Use the safe filter here -->
      </div>
      {% endfor %}
    <!-- Modal -->
    <div class="modal fade" id="AddRecord" tabindex="-1" role="dialog" aria-labelledby="AddRecordTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="AddRecordLongTitle">Add Record</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Do you really want add this record?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </form>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddRecord">Add</button>
{% endblock %}