{% extends 'base.html' %}
{% block content %}

<div class="col-md-6 offset-md-3">
  <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Welcome {{ user.username }}! You can edit record here:</h4>
  </div></br>

<form method="POST">
	{% csrf_token %}

	{{ form.as_p }}

<br/>
  <button type="submit" class="btn btn-primary" onclick="return confirmPrompt()">Update</button>

  <button type="{% url 'home' %}" class="btn btn-secondary">Cancel</button>
</form>

</div></br>

<script>
  function confirmPrompt() {
    return confirm("Are you sure you want to update this record?");
  }
  </script>

{% endblock %}