<footer style="background-color: #333; color: #fff; padding: 20px; text-align: center;">
    <div>
      <p>Follow us on social media:</p>
      <div style="margin: 10px;">
        <a href="https://github.com/archentar91" style="color: #fff; margin: 5px;"><i class="fab fa-github"></i>GitHub/archentar91</a>
        <a href="https://twitter.com/Archentar91" style="color: #fff; margin: 5px;"><i class="fab fa-twitter"></i>Twitter/archentar91</a>
      </div>
    </div>
    <div style="margin-top: 20px;">
      <p>&copy; 2023 FakeBook Website. All rights reserved.</p>
      <p>Designed with ChatGPT<i class="fas fa-heart" style="color: #f00;"></i> by Archentar</p>
    </div>
  </footer>