{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h4>Update Profile:</h4>

    <form method="POST" action="{% url 'my_account' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary" onclick="return confirmPrompt()">Update</button>
        <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
        <a href="{% url 'change_password' %}" class="btn btn-danger">Change Password</a>
    </form>

<script>
function confirmPrompt() {
    return confirm("Are you sure you want to update?");
}
</script>

{% endblock %}