{% extends 'base.html' %}
{% load static %}
{% block content %}
    <form method="POST" action="">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Your form has errors
                {% for field in form %}
                    {% if field.errors %}
                        {{ field.errors }}
                    {% endif %}
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        {{ form.as_p }}

        <!-- Password Strength Feedback and Password Mismatch Feedback -->
        <div class="row">
            <div class="col">
                <div id="password-strength-msg" class="text"></div>
            </div>
            <div class="col">
                <div id="password-mismatch-msg" class="text-danger text"></div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary mt-3" value="Register" id="register-btn" disabled>Register</button>
    </form>
{% endblock %}
