{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<h4>Register:</h4>
    <form method="POST" action="">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Your form has errors
                {% for field in form %}
                    {% if field.errors %}
                        {{ field.errors }}
                    {% endif %}
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}

        <!-- Render each form field with floating labels -->
        {% for field in form %}
        <div class="form-floating mb-3">
            {% render_field field class="form-control" %}
            <label for="{{ field.auto_id }}">{{ field.label }}</label>
            {{ field.help_text | safe }} <!-- Use the safe filter here -->
        </div>
        {% endfor %}

        <!-- Password Strength Feedback and Password Mismatch Feedback -->
        <div class="linebreaks">
            <div class="col">
                <div id="password-strength-msg" class="text" style="height: 20px;"></div>
            </div>
            <div class="col">
                <div id="password-mismatch-msg" class="text-danger text" style="height: 20px;"></div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3" value="Register" id="register-btn" disabled>Register</button>
    </form>
    <script src="{% static 'js/password.js' %}"></script>
{% endblock %}
