{% extends 'base.html' %}
{% block content %}

<div class="col-md-6 offset-md-3"></br>
  <h4>Update Record:</h4>

    <form method="POST">
      {% csrf_token %}

      {{ form.as_p }}

      <button type="submit" class="btn btn-primary" onclick="return confirmPrompt()">Update</button>
      <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
      
    </form>

</div></br>

<script>
  function confirmPrompt() {
    return confirm("Are you sure you want to update this record?");
  }
</script>

{% endblock %}